 body{
     background-image: url(../images/wavy-dots.png);
     

 }

 .center-block{
     background: #999;
     margin-top: 50px;
     margin-left:auto;
     margin-right:auto;
     padding: 15px;
     margin-bottom:100px;
 }

.navbar{
    background: rgb(40, 130, 247);
}

p{
    margin: 15px;
}

footer {
    height: 50px;
    text-align:center;
    line-height: 50px;
}

